*.pyc
*~
*/__pycache__/
cmd*
PROC*
MG5_debug
ME5_debug
debug
Template/LO/Source/make_opts
models/*/*.pkl
input/mg5_configuration.txt
py.py
*.o
*.mod
tests/*/*/*model.pkl
vendor/CutTools/includects/
vendor/IREGI/src/libiregi.a
vendor/IREGI/src/qcdloop/ff/libff.a
vendor/IREGI/src/qcdloop/ql/libqcdloop.a
vendor/StdHEP/lib/
vendor/StdHEP/log.mcfio.45164
vendor/StdHEP/log.stdhep.45289

